<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add phrase</title>
</head>

<body>
    <h3 style="text-align: center;">Add Phrase</h3>
    <form method="POST">
        <label>Приветствие</label><br>
        <input type="text" name="Headtext" size="100" /><br><br>
        <label>Сам пиздёж</label><br>
        <input type="text" name="Bodytext" size="150" /><br><br>
        <label>Завершающая фраза</label><br>
        <input type="text" name="Finaltext" size="100" /><br><br>
        <input type="submit" value="Send" />
        <button onclick="document.location='/index.html/'">Go to back</button>
    </form>

</body>

</html>