<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document random</title>
</head>

<body>
    <form style="text-align: center;">
        <input type="button" value="Refresh Page" onClick="location.href=location.href">
        <input type="button" value="Go to back" onClick='location.href="/index.html/"'>
    </form> <br>

    <div style="text-align: center;"><br>
        {{range . }} {{.Headtext}}<br>{{.Bodytext}} {{.Finaltext}}
    </div>
    {{end}}

</body>

</html>